SECRET_KEY_BASE=use-bundle-exec-rake-secret

# Production & Staging DB settings
DB_ROOT_PASSWORD=secure-mysql-root-user-password
DB_USERNAME=your-db-user
DB_PASSWORD=your-db-users-password
DB_DATABASE_NAME=standardnote_db
# Use 'localhost' if not using docker-compose
DB_HOST=db
DB_PORT=3306

RAILS_ENV=docker
